In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv(r"car_sales.csv")
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [13]:
df.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [14]:
df.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [11]:
df.info

<bound method DataFrame.info of        Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]>

In [17]:
df.describe()

       Odometer (KM)       Doors         Price
count     950.000000  950.000000    950.000000
mean   131253.237895    4.011579  16042.814737
std     69094.857187    0.382539   8581.695036
min     10148.000000    3.000000   2796.000000
25%     70391.250000    4.000000   9529.250000
50%    131821.000000    4.000000  14297.000000
75%    192668.500000    4.000000  20806.250000
max    249860.000000    5.000000  52458.000000

In [19]:
df["Odometer (KM)"].fillna(131253.237895, inplace=True)
print(df)

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [25]:
df["Odometer (KM)"].mean()

131253.23789475

In [26]:
df.isnull().sum()

Make             49
Colour           50
Odometer (KM)     0
Doors            50
Price            50
dtype: int64

In [28]:
df["Doors"].fillna(4.000000, inplace=True)
print(df)

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [29]:
df["Doors"].mean()
df.isnull().sum()

Make             49
Colour           50
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [30]:
df[df.isna()== True]

    Make Colour  Odometer (KM)  Doors  Price
0    NaN    NaN            NaN    NaN    NaN
1    NaN    NaN            NaN    NaN    NaN
2    NaN    NaN            NaN    NaN    NaN
3    NaN    NaN            NaN    NaN    NaN
4    NaN    NaN            NaN    NaN    NaN
..   ...    ...            ...    ...    ...
995  NaN    NaN            NaN    NaN    NaN
996  NaN    NaN            NaN    NaN    NaN
997  NaN    NaN            NaN    NaN    NaN
998  NaN    NaN            NaN    NaN    NaN
999  NaN    NaN            NaN    NaN    NaN

[1000 rows x 5 columns]

df["Price"].fillna(4.000000, inplace=True)
print(df)

# ////////////////////abs//

df["Price"].mean()
df.isnull().sum()

In [37]:
df = df.Make.drop()

NameError: name 'Honda' is not defined

In [33]:
import seaborn as sns

In [35]:
sns.heatmap(data = df.corr())

ValueError: could not convert string to float: 'Honda'