# Assignment 5 Naive Bayes

Aim: Write a script to implement Naïve Bayes Classifier for the given Dataset to support the following:

In [25]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict,  cross_val_score

In [26]:
df = pd.read_csv("H:\M.tech Data science PDPU\PRML LAB\CSV\german_credit_data.csv",sep=",")

In [27]:
df

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0,67,male,2,own,NaN,little,1169,6,radio/TV
1,1,22,female,2,own,little,moderate,5951,48,radio/TV
2,2,49,male,1,own,little,NaN,2096,12,education
3,3,45,male,2,free,little,little,7882,42,furniture/equipment
4,4,53,male,2,free,little,little,4870,24,car
...,...,...,...,...,...,...,...,...,...,...
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,996,40,male,3,own,little,little,3857,30,car
997,997,38,male,2,own,little,NaN,804,12,radio/TV
998,998,23,male,2,free,little,little,1845,45,radio/TV
999,999,27,male,2,own,moderate,moderate,4576,45,car

In [28]:
df.isnull().sum()

Unnamed: 0            0
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
dtype: int64

In [29]:
Categorical_df=df[['Sex','Housing','Purpose']]

In [30]:
Categorical_df

        Sex Housing              Purpose
0      male     own             radio/TV
1    female     own             radio/TV
2      male     own            education
3      male    free  furniture/equipment
4      male    free                  car
..      ...     ...                  ...
995  female     own  furniture/equipment
996    male     own                  car
997    male     own             radio/TV
998    male    free             radio/TV
999    male     own                  car

[1000 rows x 3 columns]

In [31]:
Ordered_df=df[['Age','Credit amount','Duration']]

In [32]:
Ordered_df

     Age  Credit amount  Duration
0     67           1169         6
1     22           5951        48
2     49           2096        12
3     45           7882        42
4     53           4870        24
..   ...            ...       ...
995   31           1736        12
996   40           3857        30
997   38            804        12
998   23           1845        45
999   27           4576        45

[1000 rows x 3 columns]

Q1--> Support for both categorical and ordered features.

In [33]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
columns_to_encode = ['Sex', 'Housing', 'Purpose']
for column in columns_to_encode:
    Categorical_df[column] = label_encoder.fit_transform(Categorical_df[column])

C:\Users\devje\AppData\Local\Temp\ipykernel_7552\4279220906.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Categorical_df[column] = label_encoder.fit_transform(Categorical_df[column])
C:\Users\devje\AppData\Local\Temp\ipykernel_7552\4279220906.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Categorical_df[column] = label_encoder.fit_transform(Categorical_df[column])
C:\Users\devje\AppData\Local\Temp\ipykernel_7552\4279220906.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Categorical_df[column] = label_encoder.fit_transform(Categorical_df[column])

In [22]:
X_categorical =Categorical_df
X_ordered = Ordered_df
y=Categorical_df[['Purpose']]

In [23]:
X_categorical_train, X_categorical_test, y_train, y_test = train_test_split(
    X_categorical, y, test_size=0.2, random_state=42)


X_ordered_train, X_ordered_test, y_train, y_test = train_test_split(
    X_ordered, y, test_size=0.2, random_state=42)

In [24]:
from sklearn.naive_bayes import CategoricalNB
nb_categorical = CategoricalNB()
nb_ordered = GaussianNB()


nb_categorical.fit(X_categorical, y)
nb_ordered.fit(X_ordered, y)


y_pred_categorical = nb_categorical.predict(X_categorical_test)
y_pred_ordered = nb_ordered.predict(X_ordered_test)

NameError: name 'GaussianNB' is not defined

In [17]:
accuracy_categorical = accuracy_score(y_test, y_pred_categorical)

print("Accuracy Categorical Naïve Bayes:", accuracy_categorical)

NameError: name 'y_pred_categorical' is not defined

In [80]:
accuracy_ordered = accuracy_score(y_test, y_pred_ordered)

print("Accuracy Ordered Naïve Bayes:", accuracy_ordered)

Accuracy Ordered Naïve Bayes: 0.29

In [12]:
from sklearn.naive_bayes import GaussianNB, CategoricalNB

Q2-->Support for both discrete and continuous ordered features.

Discrete and ContinouousFeatures are same as above where Discrete=Categorical and Continous as Ordered

Q3-->Perform SVC and logistic Regression on the same dataset.

In [38]:
from sklearn.svm import SVC
svc_model = SVC()
svc_model.fit(X_ordered_train, y_train)
y_pred_svc = svc_model.predict(X_ordered_test)
accuracy_svc = accuracy_score(y_test, y_pred_svc)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [36]:
accuracy_svc

0.345

In [45]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_ordered_train, y_train)
y_pred_lr = lr_model.predict(X_ordered_test)
accuracy_logistic = accuracy_score(y_test, y_pred_lr)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic: 0.375

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [46]:
accuracy_logistic

0.375

Q4-->Compare your results with Naïve Bayes Classifier in terms of “Accuracy, F1-Score, Precision and Recall and AUC.

Here we will use ordered pred

In [75]:
y_pred_nb=y_pred_ordered

In [77]:
accuracy_nb = accuracy_score(y_test, y_pred_nb)
f1_nb = f1_score(y_test, y_pred_nb, average='weighted')
precision_nb = precision_score(y_test, y_pred_nb, average='weighted')
recall_nb = recall_score(y_test, y_pred_nb, average='weighted')

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Accuracy (found previously)

In [88]:
y_pred_nb= y_pred_categorical + y_pred_ordered /2

In [92]:
y_pred_nb

array([4, 4, 5, 5, 1, 1, 5, 5, 5, 1, 5, 1, 5, 0, 0, 1, 4, 1, 5, 4, 0, 4,
       1, 5, 5, 5, 5, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 1, 1, 1, 4, 5,
       5, 5, 1, 5, 5, 5, 4, 1, 1, 5, 5, 5, 5, 5, 5, 5, 4, 1, 1, 1, 5, 5,
       5, 4, 1, 5, 1, 5, 1, 5, 1, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 7,
       1, 5, 5, 5, 1, 4, 5, 5, 5, 5, 7, 4, 5, 5, 5, 5, 5, 5, 1, 5, 4, 7,
       5, 5, 5, 1, 5, 5, 5, 5, 4, 0, 5, 4, 5, 5, 1, 5, 5, 5, 5, 1, 4, 1,
       5, 5, 5, 5, 5, 5, 5, 5, 1, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 1,
       5, 5, 5, 5, 5, 1, 5, 5, 5, 1, 5, 1, 5, 4, 5, 1, 5, 5, 5, 5, 1, 5,
       5, 1, 4, 0, 5, 4, 5, 5, 4, 1, 5, 5, 5, 4, 5, 0, 5, 1, 1, 4, 0, 1,
       4, 0])

In [81]:
print("Naïve Bayes Metrics:",accuracy_ordered)

print("F1-Score:", f1_nb)
print("Precision:", precision_nb)
print("Recall:", recall_nb)

Naïve Bayes Metrics: 0.29
Accuracy: 0.29
F1-Score: 0.24792061151795036
Precision: 0.26868348115299334
Recall: 0.29

F1 score

In [91]:
f1 = f1_score(y_test, y_pred_nb ,average='weighted')
print("F1-Score:", f1)

F1-Score: 0.24792061151795036

Precision

In [93]:
precision= precision_score(y_test, y_pred_nb, average='weighted')
print("Precision:", precision_nb)

Precision: 0.26868348115299334

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Recall

In [94]:
recall_nb = recall_score(y_test, y_pred_nb, average='weighted')
print("Recall:", recall_nb)

Recall: 0.29

AUC

Q5-->From Q 4, analyze which model turns out to be overfitting and why?

Linear regression could be suffering from overfitting to restricted amount of training data

BONUS Q6 -->List out your general observations about different features and model accuracy using Naïve Bayes?

Although low accuracy here it worked fairly good , naive bayes is less prone to overfitting , but that also depends on data .