In [1]:
import numpy as np
import pandas as pd

In [2]:
# Given data
amounts = [9, 8, 9, 12, 9, 12, 11, 7, 13, 9, 11, 10]

# Calculate mean of the data
mean_value = np.mean(amounts)

# Calculate differences between each value and the mean
differences = [value - mean_value for value in amounts]

# Calculate square of differences
squared_differences = [diff ** 2 for diff in differences]

# Create DataFrame
df = pd.DataFrame({'Supplier': range(1, len(amounts)+1),
                   'Amount': amounts,
                   'Difference': differences,
                   'Squared Difference': squared_differences})

# Display the DataFrame
print(df)

    Supplier  Amount  Difference  Squared Difference
0          1       9        -1.0                 1.0
1          2       8        -2.0                 4.0
2          3       9        -1.0                 1.0
3          4      12         2.0                 4.0
4          5       9        -1.0                 1.0
5          6      12         2.0                 4.0
6          7      11         1.0                 1.0
7          8       7        -3.0                 9.0
8          9      13         3.0                 9.0
9         10       9        -1.0                 1.0
10        11      11         1.0                 1.0
11        12      10         0.0                 0.0

In [3]:
df["mean_value_8_diff"] =  [value - 8 for value in amounts]
df["squered_mean_value_8_diff"] = [diff ** 2 for diff in df["mean_value_8_diff"]]

In [4]:
df

,Supplier,Amount,Difference,Squared Difference,mean_value_8_diff,squered_mean_value_8_diff
0,1,9,-1.0,1.0,1,1
1,2,8,-2.0,4.0,0,0
2,3,9,-1.0,1.0,1,1
3,4,12,2.0,4.0,4,16
4,5,9,-1.0,1.0,1,1
5,6,12,2.0,4.0,4,16
6,7,11,1.0,1.0,3,9
7,8,7,-3.0,9.0,-1,1
8,9,13,3.0,9.0,5,25
9,10,9,-1.0,1.0,1,1
10,11,11,1.0,1.0,3,9
11,12,10,0.0,0.0,2,4

In [5]:
df["mean_value_12_diff"] =  [value - 12 for value in amounts]
df["squered_mean_value_12_diff"] = [diff ** 2 for diff in df["mean_value_12_diff"]]

In [6]:
df

,Supplier,Amount,Difference,Squared Difference,mean_value_8_diff,squered_mean_value_8_diff,mean_value_12_diff,squered_mean_value_12_diff
0,1,9,-1.0,1.0,1,1,-3,9
1,2,8,-2.0,4.0,0,0,-4,16
2,3,9,-1.0,1.0,1,1,-3,9
3,4,12,2.0,4.0,4,16,0,0
4,5,9,-1.0,1.0,1,1,-3,9
5,6,12,2.0,4.0,4,16,0,0
6,7,11,1.0,1.0,3,9,-1,1
7,8,7,-3.0,9.0,-1,1,-5,25
8,9,13,3.0,9.0,5,25,1,1
9,10,9,-1.0,1.0,1,1,-3,9
10,11,11,1.0,1.0,3,9,-1,1
11,12,10,0.0,0.0,2,4,-2,4

In [8]:
df["mean_value_12_diff"].sum()

-24

In [10]:
df["squered_mean_value_12_diff"].sum()

84

In [11]:
df["Squared Difference"].sum()

36.0

In [14]:
df["squered_mean_value_8_diff"].sum()

84

In [12]:
weight = 1/3

In [15]:
weighted_mean = (df['Amount'] * weight).mean()
weighted_mean

3.3333333333333335

In [16]:
df['wSquared Error'] = (weighted_mean - df['Amount']) ** 2

mse = df['wSquared Error'].mean()

print("Mean wSquared Error (MSE):", mse)

Mean wSquared Error (MSE): 47.44444444444443