In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("H:/DataScience-Lab/Sem-2/FDS/Data/Churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [9]:
# Separate features and target variable
X = data.iloc[:, 3:-1].values  # Features (CreditScore to EstimatedSalary)
y = data.iloc[:, -1].values    # Target variable (Exited)

In [10]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [11]:
print(y)

[1 0 1 ... 1 1 0]

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [14]:
# Encode categorical variables (Geography and Gender)
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1, 2])], remainder='passthrough')
X = pd.DataFrame(ct.fit_transform(X))

In [15]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# Feature scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
X_train

array([[ 1.00150113, -0.57946723, -0.57638802, ...,  0.64920267,
         0.97481699,  1.36766974],
       [-0.99850112,  1.72572313, -0.57638802, ...,  0.64920267,
         0.97481699,  1.6612541 ],
       [-0.99850112, -0.57946723,  1.73494238, ...,  0.64920267,
        -1.02583358, -0.25280688],
       ...,
       [ 1.00150113, -0.57946723, -0.57638802, ..., -1.54035103,
        -1.02583358, -0.1427649 ],
       [ 1.00150113, -0.57946723, -0.57638802, ...,  0.64920267,
        -1.02583358, -0.05082558],
       [-0.99850112,  1.72572313, -0.57638802, ...,  0.64920267,
         0.97481699, -0.81456811]])

In [19]:
X_test

array([[-0.99850112,  1.72572313, -0.57638802, ..., -1.54035103,
        -1.02583358, -1.01960511],
       [ 1.00150113, -0.57946723, -0.57638802, ...,  0.64920267,
         0.97481699,  0.79888291],
       [-0.99850112, -0.57946723,  1.73494238, ...,  0.64920267,
        -1.02583358, -0.72797953],
       ...,
       [ 1.00150113, -0.57946723, -0.57638802, ...,  0.64920267,
        -1.02583358, -1.16591585],
       [ 1.00150113, -0.57946723, -0.57638802, ...,  0.64920267,
        -1.02583358, -0.41163463],
       [-0.99850112,  1.72572313, -0.57638802, ...,  0.64920267,
         0.97481699,  0.12593183]])

In [21]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [22]:
# Build the ANN model
model = Sequential()
model.add(Dense(units=8, activation='relu', input_dim=X_train.shape[1]))

In [23]:
model.add(Dense(units=8, activation='relu'))

In [24]:
model.add(Dense(units=1, activation='sigmoid'))

In [25]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [27]:
# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=32)

Epoch 1/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3489 - accuracy: 0.8583
Epoch 2/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3465 - accuracy: 0.8599
Epoch 3/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3440 - accuracy: 0.8589
Epoch 4/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8585
Epoch 5/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8583
Epoch 6/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8587
Epoch 7/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8616
Epoch 8/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.8600
Epoch 9/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8599
Epoch 10/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8604
Epoch 11/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8611
Epoch 12/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8609
Epoch 13/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8611
Epoch 14/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8616
Epoch 15/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8616
Epoch 16/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8614
Epoch 17/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8614
Epoch 18/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8618
Epoch 19/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8624
Epoch 20/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8631
Epoch 21/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8618
Epoch 22/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8621
Epoch 23/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8626
Epoch 24/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8625
Epoch 25/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8631
Epoch 26/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8634
Epoch 27/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8635
Epoch 28/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8634
Epoch 29/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8630
Epoch 30/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8639
Epoch 31/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3309 - accuracy: 0.8637
Epoch 32/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8641
Epoch 33/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3303 - accuracy: 0.8633
Epoch 34/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3306 - accuracy: 0.8644
Epoch 35/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8631
Epoch 36/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8635
Epoch 37/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3298 - accuracy: 0.8637
Epoch 38/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3299 - accuracy: 0.8640
Epoch 39/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3295 - accuracy: 0.8645
Epoch 40/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3295 - accuracy: 0.8633
Epoch 41/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3295 - accuracy: 0.8652
Epoch 42/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3293 - accuracy: 0.8634
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3294 - accuracy: 0.8641
Epoch 44/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3294 - accuracy: 0.8646
Epoch 45/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3290 - accuracy: 0.8643
Epoch 46/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3288 - accuracy: 0.8645
Epoch 47/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3288 - accuracy: 0.8630
Epoch 48/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3288 - accuracy: 0.8648
Epoch 49/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3289 - accuracy: 0.8650
Epoch 50/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3288 - accuracy: 0.8631

In [28]:
# Make predictions on the test set
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)  # Convert probabilities to binary predictions

63/63 [==============================] - 0s 1ms/step

In [30]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [33]:
# Evaluate the model
cm = confusion_matrix(y_test, y_pred)

In [37]:
print(cm)

[[1529   78]
 [ 195  198]]

In [38]:
accuracy = accuracy_score(y_test, y_pred)

In [39]:
print(accuracy)

0.8635