In [13]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_excel(r"H:\Data-Science\Foundation of DataScience\CSV\sample.xlsx")
df

          Al        Co        Cr        Fe        Ni   Cu
0   0.000000  0.333333  0.000000  0.333333  0.333333  0.0
1   0.076923  0.307692  0.000000  0.307692  0.307692  0.0
2   0.142857  0.285714  0.000000  0.285714  0.285714  0.0
3   0.200000  0.266667  0.000000  0.266667  0.266667  0.0
4   0.000000  0.250000  0.250000  0.250000  0.250000  0.0
..       ...       ...       ...       ...       ...  ...
70  0.148936  0.212766  0.212766  0.212766  0.212766  0.0
71  0.163934  0.163934  0.163934  0.163934  0.344262  0.0
72  0.163934  0.163934  0.163934  0.163934  0.344262  0.0
73  0.163934  0.163934  0.163934  0.163934  0.344262  0.0
74  0.163934  0.163934  0.163934  0.163934  0.344262  0.0

[75 rows x 6 columns]

In [18]:
df.head()

         Al        Co    Cr        Fe        Ni   Cu
0  0.000000  0.333333  0.00  0.333333  0.333333  0.0
1  0.076923  0.307692  0.00  0.307692  0.307692  0.0
2  0.142857  0.285714  0.00  0.285714  0.285714  0.0
3  0.200000  0.266667  0.00  0.266667  0.266667  0.0
4  0.000000  0.250000  0.25  0.250000  0.250000  0.0

In [19]:
df.tail()

          Al        Co        Cr        Fe        Ni   Cu
70  0.148936  0.212766  0.212766  0.212766  0.212766  0.0
71  0.163934  0.163934  0.163934  0.163934  0.344262  0.0
72  0.163934  0.163934  0.163934  0.163934  0.344262  0.0
73  0.163934  0.163934  0.163934  0.163934  0.344262  0.0
74  0.163934  0.163934  0.163934  0.163934  0.344262  0.0

In [21]:
df.describe()

              Al         Co         Cr         Fe         Ni         Cu
count  75.000000  75.000000  75.000000  75.000000  75.000000  75.000000
mean    0.128368   0.212418   0.191039   0.210640   0.232044   0.022956
std     0.079632   0.049781   0.067770   0.058550   0.051505   0.060249
min     0.000000   0.000000   0.000000   0.000000   0.140000   0.000000
25%     0.069767   0.200000   0.175000   0.200000   0.200000   0.000000
50%     0.160000   0.205300   0.200000   0.200000   0.222222   0.000000
75%     0.200000   0.235327   0.222222   0.235327   0.250000   0.000000
max     0.250000   0.333333   0.340000   0.360000   0.344262   0.200000

In [38]:
# Initialize a dictionary for vector constants
vector_constants = {}

In [39]:
# Define the list of columns
col = ['Al', 'Co', 'Cr', 'Fe', 'Ni', 'Cu']

In [40]:
# Prompt the user to enter the constants, ensuring the sum is between 0.99 and 1.0
while True:
    total = 0
    for column_name in col:
        value = float(input(f"Enter the constant for column '{column_name}': "))
        vector_constants[column_name] = value
        total += value

    if 0.99 <= total <= 1.0:
        break
    else:
        print("The sum of constants must be between 0.99 and 1.0. Please re-enter the constants.")

# Calculate the 'vec' column for the specified columns using NumPy
column_names = list(vector_constants.keys())
column_constants = list(vector_constants.values())
df['vec'] = np.dot(df[column_names].values, column_constants)

print(df)

Enter the constant for column 'Al': 2
Enter the constant for column 'Co': 6
Enter the constant for column 'Cr': 10
Enter the constant for column 'Fe': 13
Enter the constant for column 'Ni': 18
Enter the constant for column 'Cu': 22
The sum of constants must be between 0.99 and 1.0. Please re-enter the constants.
Enter the constant for column 'Al': 0.33
Enter the constant for column 'Co': 0.33
Enter the constant for column 'Cr': 0.33
Enter the constant for column 'Fe': 0.33
Enter the constant for column 'Ni': 0.33
Enter the constant for column 'Cu': 0.33
The sum of constants must be between 0.99 and 1.0. Please re-enter the constants.
Enter the constant for column 'Al': 0.33
Enter the constant for column 'Co': 0.33
Enter the constant for column 'Cr': 0.33
Enter the constant for column 'Fe': 0
Enter the constant for column 'Ni': 0
Enter the constant for column 'Cu': 0
          Al        Co        Cr        Fe        Ni   Cu       vec
0   0.000000  0.333333  0.000000  0.333333  0.333333  0.0  0.110000
1   0.076923  0.307692  0.000000  0.307692  0.307692  0.0  0.126923
2   0.142857  0.285714  0.000000  0.285714  0.285714  0.0  0.141429
3   0.200000  0.266667  0.000000  0.266667  0.266667  0.0  0.154000
4   0.000000  0.250000  0.250000  0.250000  0.250000  0.0  0.165000
..       ...       ...       ...       ...       ...  ...       ...
70  0.148936  0.212766  0.212766  0.212766  0.212766  0.0  0.189574
71  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  0.162295
72  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  0.162295
73  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  0.162295
74  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  0.162295

[75 rows x 7 columns]

In [1]:
import math
# Define the vector constants as a dictionary
ri = {
    'Al': 1.43,
    'Co': 1.25,
    'Cr': 1.28,
    'Fe': 1.26,
    'Ni': 1.24,
    'Cu': 1.28
}

v = {}
x = {}
r = {}
col = ['Al', 'Co', 'Cr', 'Fe', 'Ni', 'Cu']

while True:
    total = 0
    for column_name in col:
        value = float(input(f"Enter the constant for column '{column_name}': "))
        v[column_name] = value
        total += value

    if 0.99 <= total <= 1.0:
        break
    else:
        print("The sum of constants must be between 0.99 and 1.0. Please re-enter the constants.")

# Calculate rbar
rbar = sum(v[element] * ri[element] for element in v)
# Calculate atomic radius difference
atomic_radius_diff = math.sqrt(sum((12 * v[element] * (1 - ri[element] / rbar)**2) for element in v)) * 100


print(f"rbar: {rbar}")
print(f"Atomic Radius Difference: {atomic_radius_diff}")

Enter the constant for column 'Al': 0.33
Enter the constant for column 'Co': 0.567
Enter the constant for column 'Cr': 0.5443
Enter the constant for column 'Fe': 0.1233
Enter the constant for column 'Ni': 0.5757
Enter the constant for column 'Cu': 0.23243
The sum of constants must be between 0.99 and 1.0. Please re-enter the constants.
Enter the constant for column 'Al': 0.33
Enter the constant for column 'Co': 23.43
Enter the constant for column 'Cr': 232
Enter the constant for column 'Fe': 3.5
Enter the constant for column 'Ni': .234
Enter the constant for column 'Cu': .43
The sum of constants must be between 0.99 and 1.0. Please re-enter the constants.

KeyboardInterrupt: Interrupted by user

In [ ]:
import math
# Define the vector constants as a dictionary
ri = {
    'Al': 1.43,
    'Co': 1.25,
    'Cr': 1.28,
    'Fe': 1.26,
    'Ni': 1.24,
    'Cu': 1.28
}

xi = {
    'Al': 1.61,
    'Co': 1.88,
    'Cr': 1.66,
    'Fe': 1.83,
    'Ni': 1.91,
    'Cu': 1.9
}

v = {}
x = {}
r = {}
col = ['Al', 'Co', 'Cr', 'Fe', 'Ni', 'Cu']

while True:
    total = 0
    for column_name in col:
        value = float(input(f"Enter the constant for column '{column_name}': "))
        v[column_name] = value
        total += value

    if 0.99 <= total <= 1.0:
        break
    else:
        print("The sum of constants must be between 0.99 and 1.0. Please re-enter the constants.")

# Calculate rbar
rbar = sum(v[element] * ri[element] for element in v)
# Calculate atomic radius difference
atomic_radius_diff = math.sqrt(sum((12 * v[element] * (1 - ri[element] / rbar)**2) for element in v)) * 100

xbar = sum(v[element] * xi[element] for element in v)

# Calculate electronegativity difference (xi)
electronegativity_diff = sum(v[element] * xi[element] for element in v) / xbar

print(f"xbar: {xbar}")
print(f"Electronegativity Difference (xi): {electronegativity_diff}")

print(f"rbar: {rbar}")
print(f"Atomic Radius Difference: {atomic_radius_diff}")

#####